<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        {{> "systems/eirendor/templates/actor/sections/basic-header.html"}}
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="stats">{{localize "AQE.Stats"}}</a>
        <a class="item" data-tab="combat">{{localize "AQE.Combat"}}</a>
        <a class="item" data-tab="spells">{{localize "AQE.Spells"}}</a>
        <a class="item" data-tab="notes">{{localize "AQE.Notes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab stats" data-group="primary" data-tab="stats">
            {{> "systems/eirendor/templates/actor/sections/npc-skills.html"}}
        </div>
        <div class="tab combat" data-group="primary" data-tab="combat">
            {{> "systems/eirendor/templates/actor/sections/npc-combat.html"}}
        </div>
        <div class="tab spells" data-group="primary" data-tab="spells">
            {{> "systems/eirendor/templates/actor/sections/basic-spells.html"}}
        </div>
        <div class="tab bio" data-group="primary" data-tab="notes">
            <div class="pnjtextinfo">
                {{editor system.story target="system.story" button=true owner=owner editable=editable}}
            </div>
        </div>
    </section>
</form>

