<div class="flexrow">
    <div class="flex0">
        <select class="flexrow spells-filter" name="data.traits.mp.char">
            {{#select data.traits.mp.char}}
            <option value="int">{{localize "AQE.int"}}</option>
            <option value="wis">{{localize "AQE.wis"}}</option>
            <option value="cha">{{localize "AQE.cha"}}</option>
            {{/select}}
        </select>
        <label class="velabel">{{localize "AQE.MainChar"}}</label>
    </div>
    <div style="max-width: 100px; text-align: center;">
        <ul class="runes-box flexrow">
            <li style="margin-top: 5px;">
                <a class="rollable" data-roll="1d20 + {{data.traits.mp.atkmod}}" data-comp="{{false}}" data-label="{{localize 'AQE.Spells'}}"><i class="fas fa-dice-d20"></i></a>
            </li>
            <li>
                <input type="text" name="data.traits.mp.atkmod" value="{{numberFormat data.traits.mp.atkmod decimals=0 sign=true}}" data-dtype="Number" {{#unless data.isNPC}}readonly{{/unless}}/>
                <label class="velabel">{{localize "AQE.SpellsAtackMod"}}</label>
            </li>
            <li>
                <input name="data.traits.mp.CD" type="text" value="{{data.traits.mp.CD}}" data-dtype="Number" {{#unless data.isNPC}}readonly{{/unless}}/>
                <label class="velabel">{{localize "AQE.SpellsCD"}}</label>
            </li>
        </ul>
    </div>
    <div class="flex0" style="margin-left: 10px; margin-right: 10px;">
        <select class="flexrow spells-filter" name="data.filters.spells">
            {{#select data.filters.spells}}
            <option value="ALL">{{localize "AQE.ViewAll"}}</option>
            {{#each data.traits.runes as |rune key|}}
            <option value="{{key}}">{{localize rune.label}}</option>
            {{/each}}
            {{/select}}
        </select>
        <label class="velabel">{{localize "AQE.SpellsFilter"}}</label>
    </div>
    <div style="text-align: center;">
        <ul class="runes-box flexrow">
            <li style="margin-top: 5px;">{{localize "AQE.Runes"}}</li>
            {{#each data.traits.runes as |rune key|}}
            <li>
                <input name="data.traits.runes.{{key}}.value" type="text" value="{{rune.value}}" data-dtype="Number"/>
                <label class="velabel">{{localize rune.label}}</label>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<table class="items-list">
    <colgroup>
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 50%;">
        <col span="1" style="width: 5%;">
     </colgroup>
    <thead class="item gear-header">
        <th class="item-name">{{localize "AQE.Name"}}</th>
        <th class="item-name"> {{localize "AQE.SpellRange"}}</th>
        <th></th>
        <th class="item-name">{{localize "AQE.Runes"}}</th>
        <th></th>
        <th class="item-name"> {{localize "AQE.Tags"}}</th>
        <th class="add-button">
            <a class="item-control item-create" title="{{localize 'AQE.AddItem'}}" data-type="spell">
                <i class="fas fa-plus"></i>
            </a>
        </th>
    </thead>
    <tbody>
        {{#each spells as |rangespells spellLevel|}}
            {{#each rangespells as |item id|}}
            <tr class="item" data-item-id="{{item._id}}">
                <td class="flexrow">
                    <img class="item-image" src="{{item.img}}" title="{{item.name}}" width="20" height="20"/>
                    <span class="spell-name" title="{{item.data.summary}}">{{item.name}}</span>
                </td>
                <td style="text-align: center;">{{item.data.range}}</td>
                <td style="text-align: right;">
                    <a class="item-control item-add" title="{{localize 'AQE.IncreaseItem'}}"><i class="fas fa-plus"></i></a>
                </td>
                <td style="text-align: center;">{{item.data.runes}}</td>
                <td style="text-align: left;">
                    <a class="item-contol item-del" title="{{localize 'AQE.DecreaseItem'}}"><i class="fas fa-minus"></i></a>
                </td>
                <td style="text-align: center;">{{item.data.tags}}</td>
                <td style="text-align: center;">
                    <div class="item-controls">
                        <a class="item-control item-edit" title="{{localize 'AQE.ModItem'}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize 'AQE.DelItem'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </td>
            </tr>
            {{/each}}
        {{/each}}
    </tbody>
</table>
