<div class="flexrow">
    <div style="max-width: 200px;">
        <select class="flexrow spells-filter" name="data.filters.spells">
            {{#select data.filters.spells}}
            <option value="ALL">{{localize "AQE.ViewAll"}}</option>
            {{#each data.traits.runes as |rune key|}}
            <option value="{{key}}">{{localize rune.label}}</option>
            {{/each}}
            {{/select}}
        </select>
        <label class="velabel">{{localize "AQE.SpellsFilter"}}</label>
    </div>
    <div style="text-align: center;">
        <ul class="runes-box flexrow">
            <li>{{localize "AQE.Runes"}}</li>
            {{#each data.traits.runes as |rune key|}}
            <li>
                <input name="data.traits.runes.{{key}}.value" type="text" value="{{rune.value}}" data-dtype="Number"/>
                <label class="velabel">{{localize rune.label}}</label>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<table class="items-list">
    <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 35%;">
        <col span="1" style="width: 35%;">
        <col span="1" style="width: 5%;">
     </colgroup>
    <thead class="item gear-header">
        <th class="item-name">{{localize "AQE.Name"}}</th>
        <th class="item-name"> {{localize "AQE.SpellRange"}}</th>
        <th class="item-name"> {{localize "AQE.Tags"}}</th>
        <th class="item-name">{{localize "AQE.Summary"}}</th>
        <th class="add-button">
            <a class="item-control item-create" title="{{localize 'AQE.AddItem'}}" data-type="spell">
                <i class="fas fa-plus"></i>
            </a>
        </th>
    </thead>
    <tbody>
        {{#each spells as |rangespells spellLevel|}}
            {{#each rangespells as |item id|}}
            <tr class="item" data-item-id="{{item._id}}">
                <td class="flexrow">
                    <img class="item-image" src="{{item.img}}" title="{{item.name}}" width="20" height="20"/>
                    <span class="spell-name">{{item.name}}</span>
                </td>
                <td style="text-align: center;">{{item.data.range}}</td>
                <td style="text-align: center;">{{item.data.tags}}</td>
                <td style="text-align: center;">{{item.data.summary}}</td>
                <td style="text-align: center;">
                    <div class="item-controls">
                        <a class="item-control item-edit" title="{{localize 'AQE.ModItem'}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize 'AQE.DelItem'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </td>
            </tr>
            {{/each}}
        {{/each}}
    </tbody>
</table>
