<table class="items-list">
    <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 35%;">
        <col span="1" style="width: 35%;">
        <col span="1" style="width: 5%;">
     </colgroup>
    <thead class="item gear-header">
        <th class="item-name">{{localize "AQE.Name"}}</th>
        <th class="item-name"> {{localize "AQE.SpellRange"}}</th>
        <th class="item-name"> {{localize "AQE.Tags"}}</th>
        <th class="item-name">{{localize "AQE.Summary"}}</th>
        <th class="add-button">
            <a class="item-control item-create" title="{{localize 'AQE.AddItem'}}" data-type="spell">
                <i class="fas fa-plus"></i>
            </a>
        </th>
    </thead>
    <tbody>
        {{#each spells as |rangespells spellLevel|}}
            {{#each rangespells as |item id|}}
            <tr class="item" data-item-id="{{item._id}}">
                <td class="flexrow">
                    <img class="item-image" src="{{item.img}}" title="{{item.name}}" width="20" height="20"/>
                    <span class="spell-name">{{item.name}}</span>
                </td>
                <td style="text-align: center;">{{item.data.range}}</td>
                <td style="text-align: center;">{{item.data.tags}}</td>
                <td style="text-align: center;">{{item.data.summary}}</td>
                <td style="text-align: center;">
                    <div class="item-controls">
                        <a class="item-control item-edit" title="{{localize 'AQE.ModItem'}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize 'AQE.DelItem'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </td>
            </tr>
            {{/each}}
        {{/each}}
    </tbody>
</table>
