<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="flex0">
            <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
        </div>
        <section class="flex1">
            <div class="name-line flexrow">
                <h1 class="charname flexcol">
                    <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'AQE.Name'}}"/>
                    <label class="velabel">{{localize 'AQE.Name'}}</label>
                </h1>
            </div>
            <ul class="flexrow">
                <li>
                    <input class="valuebox" type="text" name="data.addmod" value="{{numberFormat data.addmod decimals=0 sign=true}}" data-dtype="Number"/>
                    <label class="velabel">{{localize "AQE.AddMod"}}</label>
                </li>
                <li>
                    <select id="attack-mod-selector" class="flexrow" name="data.weapontype">
                        {{#select data.weapontype}}
                        <option value="str">{{localize "AQE.TypeSTR"}}</option>
                        <option value="dex">{{localize "AQE.TypeDEX"}}</option>
                        <option value="oth">{{localize "AQE.TypeOTH"}}</option>
                        {{/select}}
                    </select>
                    <label class="velabel">{{localize "AQE.AttackWith"}}</label>
                </li>
                <li>
                    <input class="valuebox" type="text" name="data.damage" value="{{data.damage}}" data-dtype="String"/>
                    <label class="velabel">{{localize "AQE.Damage"}}</label>
                </li>
                <li>
                    <select id="damage-mod-selector" class="flexrow" name="data.dmgtype">
                        {{#select data.dmgtype}}
                        <option value="str">{{localize "AQE.TypeSTR"}}</option>
                        <option value="dex">{{localize "AQE.TypeDEX"}}</option>
                        <option value="oth">{{localize "AQE.TypeVoid"}}</option>
                        {{/select}}
                    </select>
                    <label class="velabel">{{localize "AQE.DamageMod"}}</label>
                </li>
            </ul>
            <ul class="flexrow">
                <li style="max-width: 95px;">
                    <input class="valuebox" type="text" name="data.unitweight" value="{{data.unitweight}}" data-dtype="Number"/>
                    <label class="velabel">{{localize "AQE.Weight"}}</label>
                </li>
                <li>
                    <input class="description-line" type="text" name="data.tags" value="{{data.tags}}" data-dtype="String"/>
                    <label class="velabel">{{localize "AQE.Tags"}}</label>
                </li>
            </ul>
        </section>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "AQE.Description"}}</a>
    </nav>

    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
